.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.price {
  font-size: 14px;
  color: rgb(20, 53, 195);
  font-weight: 600;
}

p {
  padding: 0;
  margin: 0;
}

.nameCart {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-line-clamp: 2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 100%;
  height: 56px;
  background-color: darkcyan;
  z-index: 99;
}

.header-logo {
  display: flex;
}
.header-logo > h3 {
  display: none;
  margin-right: 16px;
}

.nav-link-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 100%;
}
.nav-link-item:hover {
  background-color: red;
  transition: all 1s;
}
.sub-nav {
  position: absolute;
  top: 56px;
  left: 0;
  display: none;
  width: 150px;
  background-color: red;
  z-index: 1;
}
.nav-link-item:hover .sub-nav {
  display: block;
}
.sub-nav-item {
  padding: 8px;
}
.sub-nav-item:hover {
  background-color: yellow;
}
.product-item {
  padding: 16px;
  width: 200px;
  height: 300px;
  background-color: #61dafb;
  border: 1px solid red;
}

.container {
  position: relative;
  display: flex;
  flex: 1;
}
.sidebar {
  position: absolute;
  left: -250px;
  margin-top: 56px;
  padding: 16px;
  width: 250px;
  height: calc(100% - 56px);
  background-color: #14bbbb;
  overflow: hidden;
  transition: all 0.4s;
}
.sidebar.show {
  left: 0;
}
